body {
  background-color: gray;
  background-image: url("../public/images/image.png");
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */


}

.todo-box {
  /* background-color: rgb(129, 95, 95); */
  background-color: white;
  width: 21rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  -webkit-box-shadow: 5px 5px 15px 5px;
  -moz-box-shadow: 5px 5px 15px 5px;
  overflow-y: auto;
  max-height: 21rem;
  border: none;
  border: none;
}

.mainchildone {
  /* background-color: white; */
  width: 23rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  justify-content: center !important;
  align-items: center !important;
  border: none;
}

/* button{
  background-color: aqua!important;
} */

.list-group {
  margin-top: 0.5rem;
  width: auto;
  
  

}



.profile {

  margin-left: 120px;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;

}
.form-control{
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.178);
}


/* button */
.glow-on-hover {
  width: 80px;
  height: 37px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.178);

  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}